Source: ukui-wallpapers
Section: x11
Priority: optional
Maintainer: Kylin Team <team+kylin@tracker.debian.org>
Uploaders: handsome_feng <jianfengli@ubuntukylin.com>,
           Kevin Duan <duankaiwen@ubuntukylin.com>
Build-Depends: debhelper-compat (= 13),
               meson
Standards-Version: 4.5.1
Rules-Requires-Root: no
Homepage: https://www.ukui.org
Vcs-Git: https://github.com/ukui/ukui-wallpapers.git
Vcs-Browser: https://github.com/ukui/ukui-wallpapers

Package: ukui-wallpapers
Architecture: all
Replaces: ubuntukylin-wallpapers,
          ubuntukylin-wallpapers-artful,
          ubuntukylin-wallpapers-bionic,
          ubuntukylin-wallpapers-cosmic,
          ubuntukylin-wallpapers-disco,
          ubuntukylin-wallpapers-eoan,
          ubuntukylin-wallpapers-focal,
          ubuntukylin-wallpapers-groovy,
          ubuntukylin-wallpapers-saucy,
          ubuntukylin-wallpapers-trusty,
          ubuntukylin-wallpapers-utopic,
          ubuntukylin-wallpapers-vivid,
          ubuntukylin-wallpapers-wily,
          ubuntukylin-wallpapers-xenial,
          ubuntukylin-wallpapers-yakkety,
          ubuntukylin-wallpapers-zesty
Depends: ${misc:Depends}
Description: Wallpapers for UKUI desktop environment
 The default UKUI wallpaper. Outstanding wallpapers selected
 from Ubuntu Kylin 20.04 Wallpaper Contest. These wallpapers
 are expected to show wonderful Chinese style.
